@font-face {
  font-family: "iconfont"; /* Project id 3143961 */
  src: url('iconfont.woff2?t=1644892982925') format('woff2'),
       url('iconfont.woff?t=1644892982925') format('woff'),
       url('iconfont.ttf?t=1644892982925') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wancheng:before {
  content: "\e60e";
}

.icon-xuanze:before {
  content: "\e660";
}

.icon-wancheng1:before {
  content: "\e659";
}

.icon-wancheng2:before {
  content: "\e60a";
}

.icon-tongbu1:before {
  content: "\e6ca";
}

.icon-tongbu2:before {
  content: "\e69f";
}

.icon-tongbu3:before {
  content: "\e614";
}

.icon-tongbu:before {
  content: "\e754";
}

.icon-basesystemlogger:before {
  content: "\e63c";
}

.icon-Left-1:before {
  content: "\e742";
}

.icon-Right-1:before {
  content: "\e74c";
}

.icon-tongji:before {
  content: "\e66c";
}

.icon-tongji1:before {
  content: "\e619";
}

.icon-board-full:before {
  content: "\e855";
}

.icon-fasong:before {
  content: "\e616";
}

.icon-huojian:before {
  content: "\e617";
}

.icon-a-chevron-rightdouble:before {
  content: "\e638";
}

.icon-a-chevron-leftdouble:before {
  content: "\e639";
}

